.totalcases{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.cases-box{
    width: 70%;
    height: 25vh;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    border-radius: 5px;
    display: flex;
    text-align: center;
    justify-content:  space-between;
    align-items: center;
}

.totalnumber{
    width: 20%;
}

.cases-number{
    font-size: 40px;
    color: #eb4559;
}

.cases-name{
    color: rgb(58, 58, 58);
    font-size: 20px;
}
